ul li {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
}

body {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    background: #000000 no-repeat center/cover;

}

* {
    box-sizing: border-box;
}

/*-----------------header-start--------------------*/

#header {
    padding-top: 17px;

}

.nav {
    display: flex;
    justify-content: space-between;
}

.header__menu {
    display: flex;
}

.header__menu h1 {
    font-weight: 900;
    font-size: 24px;
    color: #EF0000;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 32px;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon input {
    position: absolute;
    margin-left: 7px;
    background: transparent;
    border: none;
    outline: none;
    height: 30px;
    color: #FFFFFF;
    width: 0;
    opacity: 0;
    border-bottom: 1px solid #fff;
    padding-right: 30px;
    transition: all .5s linear;
}

.icon:hover input {
    width: 310px;
    opacity: 1;
}

.icon input:focus {
    width: 310px;
    opacity: 1;
}


.lini {
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: -113px;
    width: 1338px;
    height: 1px;
    top: 124px;

    background: rgba(255, 255, 255, 0.8);
}

/*-----------------header-end--------------------*/
/*-----------------hero-start--------------------*/

#hero {
    padding-top: 150px;
    padding-bottom: 50px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero__title h1 {
    width: 559px;
    height: 154px;
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.hero__title p {
    width: 652px;
    height: 154px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.hero__img{
    width: 530px;
    height: 453px;
}


/*-----------------hero-end--------------------*/
/*-----------------catalog-start--------------------*/


#catalog {
    padding-top: 100px;
    padding-bottom: 100px;
}

.sale__line2 {
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: -113px;
    width:1336px;
    height: 1px;
    background: rgba(255, 255, 255, 0.8);
}


.sale__time {
    margin-left: 50px;
    position: absolute;
    width: 950px;
    height: 120px;
    left: 320px;
    top: 780px;
    background: #ffffff;
    border-radius: 19px;
    display: flex;
}

.time {
    display: flex;
}

.time__title h2 {
    letter-spacing: .5px;
    font-weight: bold;
    font-style: normal;
    color: #000;
    font-size: 24px;
    line-height: 29px;
    margin-left: 35px;
    margin-top: 15px;
    margin-bottom: 9px;
}

.time__title h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #EF0000;
    margin-left: 35px;
}

.help {
    margin-top: 45px;
}

.help a {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    text-transform: uppercase;
    border: 2px solid #000;
    padding: 10px 30px;
    border-radius: 10px;
    margin-left: 255px;
    transition: all .2s linear;
}

.help a:hover {

    color: #ff0000;
    border: 2px solid #ff0000;
}

/*-------------------------------------------------------*/


.courses h1 {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 18px;
}

.courses__cards__block {
    display: flex;
}

.courses__block {
    display: flex;
    flex-direction: column;
}

.courses__block a {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 60px;
    padding: 12px;
    margin-bottom: 15px;
}

.kurs1 {
    width: 200px;
}

.kurs2 {
    width: 224px;
}

.kurs {
    width: 100px;
}

.courses__block a:hover {
    background: radial-gradient(151% 1192% at 19% -24%, #EF0000 0%, #EF0000 0.01%, #E53737 100%);
    border-radius: 60px;
}

.courses__block__linu {
    position: absolute;
    height: 1px;
    width: 353px;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 340px;
    margin-left: -113px;
}

/*-----------------------------------------------------------------------------*/


.lvl h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding-top: 40px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.continput {

    box-sizing: border-box;
}

.contiinput__input1 {
    margin-left: -50px;
    display: block;
    list-style-type: none;
}

.contiinput__input {
    display: block;
    position: relative;
    padding-left: 50px;
    height: 30px;
    margin-bottom: 20px;
}

.contiinput__input .label {
    margin-top: 10px;
    width: 155px;
    color: #fff;
    transition: all .2s;
}

.contiinput__input .label:hover {
    color: #EF0000;
}

.label:before {
    content: "";
    width: 36px;
    height: 36px;
    background: radial-gradient(38.2% 50% at 50% 50%, #676767 0%, #292B2E 100%);
    position: absolute;
    left: 7px;
    top: calc(50% - 13px);
    box-sizing: border-box;
    border-radius: 50%;
}

input[type="radio"] {
    opacity: 0;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    cursor: pointer;
}

.bullet {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: -26px;
    margin-left: -35px;
    background: #fff;
    opacity: 1;
    border-radius: 50%;
    z-index: 20
}

input[type="radio"]:checked ~ .bullet {
    position: absolute;
    opacity: 1;
    background: #EF0000;
}


.courses__linu {
    position: absolute;
    height: 3114px;
    width: 1px;
    background: rgba(255, 255, 255, 0.8);
    margin-left: 240px;
}


/*-----------------------------------------------------*/

.cards__block {
    margin-left: 110px;
}

.cards {
    display: flex;
    margin-top: 130px;
    margin-left: -100px;

}

.card {
    margin-left: 40px;
    margin-top: 60px;
    position: relative;
    width: 410px;
    height: 576px;
    background: #2C2D2F;
    border-radius: 20px;
    transition-delay: 0.7s;
}

.card:hover:before {
    content: '';
    position: absolute;
    margin-left: 150px;
    margin-top: -150px;
    width: 90px;
    height: 300px;
    background: #EF0000;
    filter: blur(100px);
    z-index: -1;
}


/*----------animation-1-------------------------*/
.card:hover .puzyr__1 {
    margin-left: 100px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    z-index: -1;
    border: 1px solid rgba(239, 0, 0, 0.68);

    animation: puzyr__1 3s infinite linear;
}

@keyframes puzyr__1 {
    0% {
        margin-top: 10px;
        opacity: 1;
    }
    100% {
        margin-top: -350px;
        opacity: 0;
    }
}

/*----------animation-2-------------------------*/

.card:hover .puzyr__2 {
    margin-left: 250px;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    z-index: -1;
    border: 1px solid rgba(239, 0, 0, 0.68);

    animation: puzyr__2 2.5s infinite linear;
}

@keyframes puzyr__2 {
    0% {
        margin-top: 10px;
        opacity: 1;
    }
    100% {
        margin-top: -400px;
        opacity: 0;
    }
}

/*----------animation-3-------------------------*/

.card:hover .puzyr__3 {
    margin-left: 200px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    z-index: -1;
    border: 1px solid rgba(239, 0, 0, 0.68);
    animation: puzyr__3 1.5s infinite linear;
}

@keyframes puzyr__3 {
    0% {
        margin-top: 15px;
        opacity: 1;
    }
    100% {
        margin-top: -250px;
        opacity: 0;
    }
}


/*------------------------------------------------------------------*/

.win {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    width: 390px;
    height: 236px;
    background: linear-gradient(185.17deg, #605858 -12.92%, #252628 93.1%);
    border-radius: 20px;
    transition: all .3s linear;

}

/*-------------------------------------------------------*/

.win .img1 {
    margin-top: -195px;
}

.win .img2 {
    margin-top: -185px;
    margin-left: -8px;
}

.win .img3 {
    margin-top: -140px;
}

.win .img4 {
    margin-top: -130px;
}

.win .img5 {
    margin-top: -125px;
}

.win .img6 {
    margin-top: -195px;
}

.win .img7 {
    margin-top: -152px;
}

.win .img8 {
    margin-top: -172px;
}

/*-------------------------------------------------------------------*/


.card:hover .win {
    background: linear-gradient(180.24deg, #FF0000 0.68%, #980000 85.66%);
}

/*----------------------------------------------*/

.shadow1 {
    position: absolute;
    margin-left: 110px;
    margin-top: -30px;
    width: 169px;
    height: 16px;
    z-index: 5;
    background: #000;
    filter: blur(20px);
}

.shadow2 {
    position: absolute;
    margin-left: 110px;
    margin-top: -15px;
    width: 169px;
    height: 16px;
    z-index: 5;
    background: #000;
    filter: blur(20px);
}

.shadow3 {
    position: absolute;
    margin-left: 110px;
    margin-top: -110px;
    width: 169px;
    height: 16px;
    z-index: 5;
    background: #000;
    filter: blur(20px);
}

.shadow4 {
    position: absolute;
    margin-left: 100px;
    margin-top: -50px;
    width: 169px;
    height: 16px;
    z-index: 5;
    background: #000;
    filter: blur(20px);
}

.shadow5 {
    position: absolute;
    margin-left: 90px;
    margin-top: -15px;
    width: 169px;
    height: 16px;
    z-index: 5;
    background: #000;
    filter: blur(20px);
}

.shadow6 {
    position: absolute;
    margin-left: 100px;
    margin-top: -35px;
    width: 169px;
    height: 16px;
    z-index: 5;
    background: #000;
    filter: blur(20px);
}

.shadow7 {
    position: absolute;
    margin-left: 110px;
    margin-top: 25px;
    width: 169px;
    height: 16px;
    z-index: 5;
    background: #000;
    filter: blur(20px);
}

.shadow8 {
    position: absolute;
    margin-left: 120px;
    margin-top: -25px;
    width: 169px;
    height: 16px;
    z-index: 5;
    background: #000;
    filter: blur(20px);
}


/*-----------------------------------------*/

.title h3 {
    margin-left: 10px;
    padding-top: 270px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.7;
}

.title h1 {
    margin-left: 10px;
    width: 239px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

}

.card2 {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    width: 390px;
    height: 100px;
    background: #18181B;
    border-radius: 5px;
}

.card2 h1 {
    margin-left: 20px;
    margin-top: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
}

.card2 h1 span {
    position: absolute;
    font-size: 18px;
    margin-top: 2px;
    margin-left: 5px;
}

.card2 h3 {
    margin-top: -10px;
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-decoration-line: line-through;
    color: #FFFFFF;
    opacity: 0.8;
}

.card2 p {
    position: absolute;
    margin-left: 250px;
    margin-top: -45px;
    width: 119px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 96.4%;
    color: #FFFFFF;
    opacity: 0.8;
}

.card2 img {
    position: absolute;
    margin-left: 250px;
    margin-top: -180px;
    width: 182px;
    height: 182px;
}

.click a:nth-child(1) {
    margin-left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px 30px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;

    transition: all .3s linear;
}

.click a:nth-child(1):hover {
    background: #fff;
    color: #000;
}

.click a:nth-child(2) {
    margin-left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px 30px;
    background: linear-gradient(93.59deg, #EF0000 23.91%, #E63737 100%);
    border-radius: 5px;

    transition: all .3s linear;
}

.click a:nth-child(2):hover {
    background: linear-gradient(93.59deg, #db0000 23.91%, #c43030 100%);
}


/*feedback*/
#feedback {
    padding-bottom: 120px;
}

.feedback {
    margin-top: 100px;
    width: 1300px;
    height: 460px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    margin-left: -100px;
}

.feedback__linu {
    position: absolute;
    height: 1px;
    width: 1336px;
    background: rgba(255, 255, 255, 0.8);
    margin-top: -150px;
    margin-left: -113px;

}

.feedback__block {
    padding-left: 30px;
}

.title {
    margin-top: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 105.4%;
    letter-spacing: 0.045em;
    color: #000000;
    /*padding-top: 46px;*/

}

.feedback__title h1 {
    margin-top: 30px;
    width: 456px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #000000;

}

.feedback__title h2 {
    margin-top: 70px;
    width: 280px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 135.4%;
    letter-spacing: 0.045em;
    color: #000000;

}

.input__name {
    margin-top: 30px;
    margin-bottom: 40px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 370px;
    border-bottom: 1px solid #000000;
    transition: all .2s;
    padding-left: 10px;
}

.input__name:focus {
    background: #f8f8f8;
}

.input__tel {
    margin-top: 20px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 370px;
    border-bottom: 1px solid #000000;
    padding-left: 10px;
    transition: all .2s;
}

.input__tel:focus {
    background: #f8f8f8;
}

.btn {
    position: absolute;
    margin-top: 45px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 135.4%;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    background: #EF0000;
    border-radius: 10px;
    padding: 5px 20px;
    border: 2px solid #EF0000;
    transition: all .3s linear;
}

.btn:hover {
    border: 2px solid #000;
    background: transparent;
    color: #000;
}



.feadback__blocks {
    display: flex;
}

.feedback__input {
    margin-left: 150px;
}

.feedback__icon {
    position: absolute;
    margin-top: -245px;
    margin-left: 830px;
}

/*-----------------------------------------------------------*/

.cot__ceti {
    position: absolute;
    margin-top: 400px;
    margin-left: 1070px;
}


ul {
    position: relative;
    display: flex;
    transform-style: preserve-3d;
}

ul li {
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    margin: 0 10px;
}


ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
    font-size: 30px !important;
    transition: .2s;
}

ul li:hover span {
    z-index: 1000;
    transition: .5s;
    color: white;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .05);
}

ul li:hover span:nth-child(5) {
    transform: translate(20px, -20px);
    opacity: 1;
}

ul li:hover span:nth-child(4) {
    transform: translate(15px, -15px);
    opacity: .8;
}

ul li:hover span:nth-child(3) {
    transform: translate(10px, -10px);
    opacity: .6;
}

ul li:hover span:nth-child(2) {
    transform: translate(5px, -5px);
    opacity: .4;
}

ul li:hover span:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: .2;

}


ul li:nth-child(1):hover span {
    background: #25D366;
}

ul li:nth-child(2):hover span {
    background: #4b7ce2;
}

ul li:nth-child(3):hover span {
    background: #e4405f;
}


/*---------------------------------------------------------*/
.center, .content {
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%, 50%);
    z-index: 15;
}

#click {
    display: none;
}

#click2 {
    display: none;
}

.click__me {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    padding: 5px 30px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    transition: all .3s linear;
    margin-top: 304px;
    margin-left: 109px;
}

.click__me:hover {
    color: #000000;
    background: #FFFFFF;
}

.content__desk {
    display: flex;
}

.content {
    z-index: 350;
    opacity: 0;
    visibility: hidden;
    width: 1000px;
    height: 2000px;
    background: #ffffff;
    margin-left: 500px;
    margin-top: -1100px;

}

#click:checked ~ .content {
    opacity: 1;
    visibility: visible;
}


#click2:checked ~ .content {
    opacity: 0;
    visibility: visible;
}

.content__title h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 29px;
    color: #000000;
    margin: 40px 25px;
    width: 396px;
}

.content__title p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 10px 25px;
}

.content__img {
    position: relative;

}


.content__img2 {
    position: absolute;
    margin-left: 136px;
    margin-top: -35px;
    z-index: 15;

}

.content__img3 {
    position: absolute;
    margin-top: 62px;
    margin-left: 245px;

}

.content__img4 {
    position: relative;
    margin-left: 204px;
    margin-top: 37px;
}

.close-btn {
    margin-left: -45px;
    margin-top: 10px;
}

.content__line {
    width: 1000px;
    border: 1px solid #000000;
    margin-left: -445px;
    margin-bottom: 120px;
}

.program {
    margin-top: -100px;
    margin-left: 25px;
}

.program h3 {
    font-size: 32px;
    line-height: 47px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 35px;
}

.program h4 {
    text-transform: capitalize;
    font-size: 20px;
    line-height: 98.9%;
    color: #000000;
    width: 636px;
    height: 34px;
}

.program p {
    font-weight: 500;
    font-size: 14px;
    line-height: 98.9%;
    color: #000000;
    margin-top: -15px;
    margin-bottom: 20px;
}

.program__line {
    width: 500px;
    height: 1px;
    background: #000;
    margin-bottom: 20px;
}

.program h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

.center__click {
    margin-top: 2px;
}

.center__click a {
    margin-left: 215px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px 30px;
    background: linear-gradient(93.59deg, #EF0000 23.91%, #E63737 100%);
    border-radius: 5px;

    transition: all .3s linear;
}

.center__click a:hover {
    background: linear-gradient(93.59deg, #db0000 23.91%, #c43030 100%);
}